<% if !@profile %>
  Summoner nenalezen
<% else %>
  <div class="row">
    <div class="col-3"><%= render 'profilecard', profile: @profile, summonerinfo: @summonerinfo %></div>
    <div class="col-8"><%= render 'matches', matches: @matches, queue: @queue, profile: @profile, pagy: @pagy_matches %></div>
  </div>
<% end %>