<% @games.each do |game| %>

<div class="seach-bar"></div>

<div class="gameImages d-flex justify-content-center">
  <a href="/games/<%= game.id %>">
  <%= image_tag("/images/games/#{game['image']}", class: "img-fluid game-img") %>
  </a>
</div>

<% end %>