@import "bootstrap";

.main {
  margin-top: 1%;
}

.small {
  width: 50%;
}
.match-item {
  border: 1px solid rgba(0,0,0,0.3) !important;
}

.profileIconMatch {
  width: 20px;
  float: left;
  margin-right: 2px;
}
.championIcon{
  float:left;
  width: 50px;
  border-radius: 50%;
}

.center {
  margin: auto;
}

.trinket{
  float: right;
  width: 30px;
  margin-top: 4px;
}

.summonerIcons {
  width: 20px;
}

.team-table p {
  margin-bottom: 0;
  font-size: 12px;
}

.championName{
  text-align: center;
}

.victory {
  background: #A3CFEC !important;
}

.defeat {
  background: #E2B6B3 !important;
}

.red {
  color: red;
}

.score {
  font-weight: 500;
  font-size: 18px;
}

.kdaNumber {
  font-weight: 800;
  font-size: 15px;
  color: rgba(20,20,50,0.5);
}

.kdaText {
  font-weight: 400;
  color: rgba(20,20,50,0.8);
}

.detailedMatchProfilePicture{
  border-radius: 50%;
  width: 40px;
}

.itemIcons{
  width: 30px;
}

.secondaryRune {
  width: 20px;
}

.bbans {
  width: 40px;
}

.rbans {
  width: 40px;
}

.stats-header {
  width: 100% !important;
}

.small-img{
  width: 30px;
}

.progress-right {
  float: right;
}

.main-bar {
  width: 100%;
}

.blueteam{
  background-color: #C6DBE9;
}

.redteam{
  background-color: #FACBC9;
}

.blueteam-darker{
  background-color: #a1c9e3;
}

.redteam-darker{
  background-color: #faa19d;
}

.playerName {
  background-color: #27303F;
  color: white;;
  border-bottom: 2px solid #2AA3CC;
}

.playerInfo {
  padding-left: 5%;
}

.playerCard {
  background-color: #3A4556;
  color: grey;
}

.rankedText{
  font-size: 11px;
}

.gameImages{
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.game-img{
  width: 200px;
  border-radius: 20%;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.game-img:hover{
  margin-top: 15px;
}


.championImage {
  max-width: 100%;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

.championImage:hover {
  -webkit-transform:scale(1.0); /* Safari and Chrome */
  -moz-transform:scale(1.0); /* Firefox */
  -ms-transform:scale(1.0); /* IE 9 */
  -o-transform:scale(1.0); /* Opera */
   transform:scale(1.0);
}

.champContainer {
  width: 200px;
  height: 250px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}


.champName {
  position: absolute;
  font-weight: 600;
  background-color: #061C25;
  bottom: -20px;
  left: 50%;
  width: 100%;
  height: 36px;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.champContainer:hover .champName {
  background-color: #062C70;
}

.champText{
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.champSplash{
  height: 600px;
}

.skin {
  margin-left: auto;
  display: inline-block;
  overflow: hidden;
  height: 300px;
}