@import "bootstrap";

.main {
  margin-top: 1%;
}

.small {
  width: 50%;
}
.match-item {
  border: 1px solid rgba(0,0,0,0.3) !important;
}

.profileIconMatch {
  width: 20px;
  float: left;
  margin-right: 2px;
}
.championIcon{
  float:left;
  width: 50px;
  border-radius: 50%;
}

.center {
  margin: auto;
}

.trinket{
  float: right;
  width: 30px;
  margin-top: 4px;
}

.summonerIcons {
  width: 20px;
  display: inline;
}

.team-table p {
  margin-bottom: 0;
  font-size: 12px;
}

.championName{
  text-align: center;
}

.victory {
  background: #A3CFEC !important;
}

.defeat {
  background: #E2B6B3 !important;
}

.red {
  color: red;
}

.score {
  font-weight: 500;
  font-size: 18px;
}

.kdaNumber {
  font-weight: 800;
  font-size: 15px;
  color: rgba(20,20,50,0.5);
}

.kdaText {
  font-weight: 400;
  color: rgba(20,20,50,0.8);
}