<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <%= link_to 'Pan Poro', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Vyhledat', root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
  </div>
</nav>

<div class="ui container">
  <% if notice  %>
    <div class="ui success message mt-5">
      <a href="#" class="close icon" data-dismiss="notice">&#215</a>
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div class="ui negative message mt-5">
      <a href="#" class="close icon" data-dismiss="alert">&#215</a>
      <p><%= alert %></p>
    </div>
  <% end %>
</div>
